@import "../../styles/variables";
@import "../../styles/mixin";

.container {
  @include flexContainer(column);
  @include itemPosition(fixed, 50%, 50%);
  transform: translate(50%, -50%);
  max-width: 550px;
  width: 100%;
  .carousel {
    padding: 0 50px;
  }
  .close {
    position: fixed;
    left: 96%;
    bottom: 100%;
    svg {
      path {
        &:hover {
          fill: $PrimaryOrange;
        }
      }
    }
  }
  .btn {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: $PrimaryWhite;
    svg {
      vertical-align: bottom;
    }
    &:hover {
      svg {
        path {
          stroke: $PrimaryOrange;
        }
      }
    }
  }
  .previous {
    @include itemPosition(fixed, 35%, 96%);
  }
  .next {
    @include itemPosition(fixed, 35%, -6%);
  }
  img {
    width: 100%;
    border-radius: 15px;
  }
}
