@import "../../styles/variables";
@import "../../styles/mixin";

.container {
  @include flexContainer(column);
  @include itemPosition(fixed, 50%, 50%);
  transform: translate(50%, -50%);
  max-width: 550px;
  width: 100%;
  .carousel {
    padding: 0 50px;
  }
  .close {
    position: fixed;
    left: 96%;
    bottom: 100%;
    svg {
      path {
        &:hover {
          fill: $PrimaryOrange;
        }
      }
    }
  }
  img {
    width: 100%;
    border-radius: 15px;
  }
}
