@import "../../styles/mixin";
.popup {
  @include itemPosition(fixed, 0, 0);
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s, opacity 0s linear;

  &_open {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 0s linear;
    z-index: 1;
  }
}
