@import "./variables";
h1,
h2,
h3,
h4,
p {
  margin: 0;
  font-family: "Kumbh Sans";
}

p {
  font-size: 16px;
  line-height: 26px;
  color: $DarkGrey;
}

h1 {
  font-size: 44px;
  line-height: 48px;
  color: $TextDark;
}

h2 {
  font-size: 28px;
  line-height: 28px;
  color: $TextDark;
}

h3 {
  font-size: 16px;
  line-height: 28px;
}

h4 {
  font-size: 13px;
  line-height: 13px;
}

button {
  border: none;
  cursor: pointer;
  padding: 0;
  background: transparent;
  font-size: 16px;
  line-height: 20px;
  color: $PrimaryWhite;
  border-radius: 10px;
  font-family: "Kumbh Sans";
  font-style: normal;
  font-weight: bold;
  height: 56px;
}

img,
button,
svg {
  &:hover {
    transition: 0.3s;
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

a {
  text-decoration: none;
  color: $DarkGrey;
  &:hover {
    color: $TextDark;
  }
}

svg {
  cursor: pointer;
}


@media screen and (max-width: 1031px) {
  h1 {
    font-size: 36px;
  }
}

