@import "../../styles/mixin";
@import "../../styles/variables";

main {
  width: calc(100% - 165px*2);
  margin: auto;
  padding-top: 90px;
  ul {
    @include flexContainer(column);
    li {
      display: grid;
      grid-auto-flow: column;
      grid-template-columns: repeat(
        auto-fit,
        minmax(100px, 445px) minmax(100px, 445px)
      );
      gap: 125px;
      align-items: center;
      padding-bottom: 110px;
      img {
        max-width: 100%;
        width: 100%;
        border-radius: 15px;
        cursor: pointer;
        &:hover {
          opacity: 0.7;
        }
      }
      h4 {
        letter-spacing: 2px;
        text-transform: uppercase;
        color: $PrimaryOrange;
      }
      h1 {
        margin-top: 25px;
      }
      p {
        margin: 32px 0;
      }
    }
  }
  .price {
    @include flexContainer(row);
    max-width: 173px;
    margin-bottom: 10px;
    h3 {
      color: $PrimaryOrange;
      padding: 0 8px;
      border-radius: 6px;
      background-color: #ffeee2;
    }
    &_origin {
      text-decoration-line: line-through;
      color: $DarkGrey;
      font-size: 18px;
    }
  }
  .action {
    @include flexContainer(row);
    margin-top: 28px;
    .counter {
      @include flexContainer(row);
      max-width: 157px;
      border-radius: 10px;
      background-color: #f6f8fd;
      width: 100%;

      &_btn {
        &:hover {
          svg {
            path {
              fill: $SecondaryOrange;
            }
          }
        }
        svg {
          vertical-align: middle;
          margin: 16px;
        }
      }
    }
    .add_btn {
      background-color: $PrimaryOrange;
      width: 100%;
      margin-left: 16px;
      svg {
        vertical-align: middle;
        margin-right: 15px;
        path {
          fill: $PrimaryWhite;
        }
      }
      &:hover {
        background: $SecondaryOrange;
      }
    }
  }
}

@media screen and (max-width: 1287px) {
  main {
    width: calc(100% - 48px*2);
    ul {
      li {
        gap: 100px;
      }
    }
  }
}
