@import "../../styles/mixin";
@import "../../styles/variables";

.header {
  @include flexContainer(row);
  width: calc(100% - 165px*2);
  margin: auto;
  height: 112px;
  position: relative;
  border-bottom: solid 1px $LightGrey;

  &_total {
    background-color: $PrimaryOrange;
    font-weight: bold;
    font-size: 10px;
    line-height: 12px;
    padding: 1px 6px;
    border-radius: 7px;
    @include itemPosition(absolute, 9px, -6px);
  }

  nav {
    @include flexContainer(row);
    min-width: 590px;
    &_logo {
      &:hover {
        border-bottom: none;
        padding-bottom: 0;
      }
    }
    li {
      margin-left: 30px;
    }
    a {
      &:hover {
        border-bottom: solid 4px $PrimaryOrange;
        padding-bottom: 42px;
        position: relative;
      }
    }
  }

  &_profile {
    @include flexContainer(row);
    svg {
      vertical-align: bottom;
      &:hover {
        path {
          fill: $TextDark;
        }
      }
    }
    img {
      max-width: 50px;
      margin-left: 48px;
      cursor: pointer;
      border-radius: 50%;
      &:hover {
        border-radius: 50%;
        outline: 3px solid $PrimaryOrange;
        outline-offset: -3px;
      }
    }
  }
}
button {
  position: relative;
}

@media screen and (max-width: 1287px) {
  .header {
    width: calc(100% - 48px*2);
  }
}

@media screen and (max-width: 875px) {
  .header {
    height: 68px;
    &_profile {
      img {
        max-width: 30px;
        margin-left: 24px;
      }
    }
  }
}