@import "../../styles/mixin";
@import "../../styles/variables";

.header {
  @include flexContainer(row);
  width: calc(100% - 165px * 2);
  margin: auto;
  height: 112px;
  position: relative;
  border-bottom: solid 1px #e4e9f2;

  &_total {
    background-color: $PrimaryOrange;
    font-weight: bold;
    font-size: 10px;
    line-height: 12px;
    padding: 1px 6px;
    border-radius: 7px;
    position: absolute;
    right: -6px;
    top: 9px;
  }

  nav {
    @include flexContainer(row);
    min-width: 590px;
    &_logo {
      &:hover {
        border-bottom: none;
        padding-bottom: 0;
      }
    }
    li {
      margin-left: 30px;
    }
    a {
      &:hover {
        border-bottom: solid 4px $PrimaryOrange;
        padding-bottom: 42px;
        position: relative;
      }
    }
  }

  &_profile {
    @include flexContainer(row);
    svg {
      vertical-align: bottom;
      &:hover {
        path {
          fill: #1d2026;
        }
      }
    }
    img {
      max-width: 50px;
      margin-left: 48px;
      cursor: pointer;
      border-radius: 50%;
      &:hover {
        border-radius: 50%;
        outline: 3px solid #ff7e1b;
        outline-offset: -3px;
      }
    }
  }
}
button {
  position: relative;
}