@import "../../styles/mixin";
@import "../../styles/variables";

.carousel {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  gap: 0 20px;
  margin-top: 32px;

  &_image {
    display: flex;
    max-width: 100%;
    width: 100%;
    position: relative;
    cursor: pointer;
    &:hover {
      &::after {
        content: "";
        @include itemPosition(absolute, 0, 0);
        left: 0;
        bottom: 0;
        background: rgba(255, 255, 255, 0.4);
        border-radius: 16px;
      }
    }
  }
  .active {
    outline: 3px solid $PrimaryOrange;
    border-radius: 15px;
    position: relative;
    cursor: auto;
    &::after {
      content: "";
      @include itemPosition(absolute, 0, 0);
      left: 0;
      bottom: 0;
      background: rgba(255, 255, 255, 0.7);
      border-radius: 16px;
    }
  }
}

.btn {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: $PrimaryWhite;
  svg {
    vertical-align: bottom;
  }
  &:hover {
    svg {
      path {
        stroke: $PrimaryOrange;
      }
    }
  }
}

.main_image {
  position: relative;
}
.previous {
  position: absolute;
  right: 90%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.next {
  position: absolute;
  right: -10%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 725px) {
  .btn {
    width: 40px;
    height: 40px;
  }
  .previous {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translate(0%, -50%);
  }
  .next {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translate(0%, -50%);
  }
}
