.carousel {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  gap: 0 20px;
  margin-top: 32px;

  &__image {
    display: flex;
    max-width: 100%;
    width: 100%;
    position: relative;
    cursor: pointer;
    &:hover {
      &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background: rgba(255, 255, 255, 0.4);
        border-radius: 16px;
      }
    }
  }
  .active {
    border: 2px solid #ff7e1b;
    border-radius: 17px;
    position: relative;
    cursor: auto;
    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      background: rgba(255, 255, 255, 0.7);
      border-radius: 16px;
    }
  }
}

// .active {
//   opacity: 0.4;
//   &:hover {
//     opacity: 0.4;
//   }
// }
